.main-container {
    width: 100%;
    height: auto;
    padding: 50px;
    margin-top: -70px;
}

.hedar h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 58.51px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(30, 58, 138, 1);
}

.card-container {
    margin-top: 30px;
    text-align: center;


}

.card {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    padding: 20px;
    border-radius: 24px;
    opacity: 0px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}

.card img {
    width: 76.8px;
    margin-top: 20px;
    height: 96px;
    gap: 0px;
    opacity: 0px;

}

.card h3 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 39.01px;
    text-align: center;
    color: rgba(30, 58, 138, 1);
    margin-top: 20px;
}

.card p {
    font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 25.2px;
text-align: center;
color: grey;

}


/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .hedar h1 {
        font-size: 30px; /* Adjust heading size for medium screens */
    }

    .card h3 {
        font-size: 24px; /* Adjust card heading size for medium screens */
    }

    .card p {
        font-size: 14px; /* Adjust card paragraph size for medium screens */
    }
}

@media (max-width: 768px) {
    .hedar h1 {
        line-height: 1.5;
        font-size: 22px; /* Adjust heading size for small screens */
    }

    .card {
        padding: 10px; /* Reduce padding for smaller screens */
    }
    .card img {
        width: 50px;
        height: 50px;
    }

    .card h3 {
        line-height: 1.5;
        font-size: 16px; /* Adjust card heading size for small screens */
    }

    .card p {
        line-height: 1.5;
        font-size: 12px; /* Adjust card paragraph size for small screens */
    }
}

@media (max-width: 480px) {
    .hedar h1 {
        font-size: 16px; /* Further adjust heading size for very small screens */
    }

    .card {
        padding: 10px; /* Further reduce padding for very small screens */
    }

    .card h3 {
        font-size: 16px; /* Further adjust card heading size for very small screens */
    }

    .card p {
        font-size: 10px; /* Further adjust card paragraph size for very small screens */
    }
}