<div class="main-container">
    <div class="hedar">
        <h1>Discover Your Path in the Stars with Us</h1>
    </div>
    <div class="card-container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/withus/Vector (1).png" alt="">
                    <h3>Expert Astrologers</h3>
                    <p>We generate your natal chart and interpret the positions of the planets, signs, and houses to
                        give you insights into your personality, strengths, weaknesses, and life path.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/withus/Vector (2).png" alt="">
                    <h3>Compatibility Readings</h3>
                    <p>We can analyze the compatibility between two individuals by comparing their natal charts. This
                        can help people understand their relationships with partners, friends etc.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/withus/Vector (4).png" alt="">
                    <h3>Progression Readings</h3>
                    <p>We provide insights into upcoming planetary transits and progressions that may influence your
                        life events and experiences. It can be useful for timing significant decisions.</p>
                </div>
            </div>
        </div>
    </div>
</div>