<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jyotish Connect</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="welcome.component.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container" fxFlex="100" fxLayoutAlign="center center">
        <div class="background">
            <h1>Welcome To</h1>
            <h2>
                <span class="the-text">The</span> 
                <span class="jyotish-connect">Jyotish Connect</span>
            </h2>
            <p>
                Unveiling the universe Within You. Jyotish Connect helps you exploring your cosmic path...
            </p>
            <div class="btn-g">
                <a class="batt"><i class="fas fa-comments"> Talk with Astrologer</i>
                </a>
                <a class="btn-p"><i class="fas fa-phone"> Talk to Astrologer</i>
                </a>
            </div>
        </div>
    </div>
</body>
</html>