<div class="main-container">
  <div class="background">
    <!-- header -->
    <header class="header">
      <div class="logo">
        <img src="../../../assets/logo/Group 34.png" alt="">
      </div>
      <nav class="nav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/About">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Our Astrologers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Daily Horoscope</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Free Kundli</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quotes of the Day</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Testimonials</a>
          </li>
        </ul>
      </nav>
      <a class="login-button" [routerLink]="['/login']">Login</a> <!-- Login Button -->
    </header>
    <!-- welcome page-->
    <h3>Welcome To</h3>
    <h2>
      <span class="the-text">The</span>
      <span class="jyotish-connect">Jyotish Connect</span>
    </h2>
    <p>
      Unveiling the universe Within You. Jyotish Connect helps you exploring
      your cosmic path...
    </p>
    <div class="btn-g">
      <a class="batt"> <img src="../../../assets/images/Dialog.png" alt=""> Chat with Astrologer </a>
      <a class="btn-p"> <img src="../../../assets/Call/Phone Calling Rounded.png" alt=""> Talk to Astrologer </a>
    </div>
  </div>
</div>
<app-astrologer />
<app-discover />
<app-discoverdaily />
<app-happycustomer />
<app-blogs />
<app-qday />
<app-guid />
<app-footer />