<div class="main-container">
  <div class="background">
    <h1>Welcome To</h1>
    <h2>
      <span class="the-text">The</span>
      <span class="jyotish-connect">Jyotish Connect</span>
    </h2>
    <p>
      Unveiling the universe Within You. Jyotish Connect helps you exploring
      your cosmic path...
    </p>
    <div class="btn-g">
      <a class="batt"><i class="fas fa-comments"> Talk with Astrologer</i> </a>
      <a class="btn-p"><i class="fas fa-phone"> Talk to Astrologer</i> </a>
    </div>
  </div>
</div>

<div class="card-container">
  <!-- card -->

  <div class="row">
    <div class="col-md-6">
      <img
        class="card-image"
        src="https://media.istockphoto.com/id/1443628665/photo/adult-writing-in-the-classroom.jpg?s=1024x1024&w=is&k=20&c=WZ9Zv8MPhqo4F4nRhkqGaK9uohN6Z7PE2aXfZyxDdoc="
        alt="astrologer"
      />
    </div>
    <div class="col-md-6">
      <div class="text-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
        impedit alias saepe maiores earum est expedita, vel beatae cumque magni
        voluptate eos voluptatibus eligendi quas praesentium excepturi?
        Sapiente, eveniet officiis.
      </div>
    </div>
  </div>
</div>
