<div class="main-contaner">
<div class="card-container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/Untitled 1.png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Saahil Kohli</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/image (10).png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Vijaylakshmi Kri...</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>    
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/Untitled.png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div >
                        <h3>Dr. Hemant Ba...</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>    
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/image (12).png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Sanjay B. Jumaani</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/Untitled.png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Dr. Hemant Ba...</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>    
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/image (12).png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Sanjay B. Jumaani</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/Untitled 1.png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Saahil Kohli</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/image (10).png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Vijaylakshmi Kri...</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/Untitled 1.png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Saahil Kohli</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/image (10).png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Vijaylakshmi Kri...</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>    
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/Untitled.png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Dr. Hemant Ba...</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>    
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/image (12).png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div >
                        <h3>Sanjay B. Jumaani</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/Untitled.png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Dr. Hemant Ba...</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>    
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/image (12).png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Sanjay B. Jumaani</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/Untitled 1.png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Saahil Kohli</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="rating">
                    <img src="../../../assets/card/Star.png" alt="">
                    <span>
                        4.5
                    </span>
                </div>
                <div style="display: flex;">
                    <img src="../../../assets/card/image (10).png"
                    style="width:70px; height: 70px; margin-top: -15px;">
                    <div>
                        <h3>Vijaylakshmi Kri...</h3>
                        <p>Vastu Astrologer</p>
                    </div>
                </div>
                <div class="details">
                    <span>
                        <img src="../../../assets/card/msg.png" alt="">
                        9K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="">
                        10K mins
                    </span>
                    <span>
                        <img src="../../../assets/card/Group 49474.png" alt="">
                        4 Years
                    </span>
                </div>
                <div class="languages">
                    <span>
                        <img src="../../../assets/card/User Speak Rounded.png" alt="">
                        Hindi, Punjabi, English... 3+
                    </span>
                </div>
                <div class="description">
                    Astrologer Saahil Kohli is a heir to a rich legacy. It is a tradition of excel...
                    <a href="#">
                        Read More
                    </a>
                    <hr>
                </div>
                <div class="actions">
                    <button>
                        <img src="../../../assets/card/msg.png" alt="">
                        Start Chat
                    </button>
                    <button>
                        <img src="../../../assets/card/Phone Calling Rounded.png" alt="" srcset="">
                        Start Call
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="button-container">
    <button class="button">Load More...</button>
</div>
</div>