<div class="main-container">
    <div class="hedar">
        <div class="card-container">
            <div class="row">
                <div class="button" style="display: flex;">
                    <div class="col-md-9">
                        <h1>Our Blogs: Navigating Life Through the Stars</h1>
                    </div>
                    <div class="col-md-6">
                        <button class="btn"> View All</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/blogs/Replace Image Here (1).png" alt="">
                        <h2>November 2023</h2>
                        <h3>The Astrology of Success</h3>
                        <p>We generate your natal chart and interpret the positions of the planets, signs, and houses to
                            give you insights into your personality...</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/blogs/Replace Image Here (2).png" alt="">
                        <h2>November 2023</h2>
                        <h3>A Celestial Guide to Managing...</h3>
                        <p>We generate your natal chart and interpret the positions of the planets, signs, and houses to
                            give you insights into your personality...</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/blogs/Replace Image Here (3).png" alt="">
                        <h2>November 2023</h2>
                        <h3>The Astrology of Success</h3>
                        <p>We generate your natal chart and interpret the positions of the planets, signs, and houses to
                            give you insights into your personality...</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>