<div class="card-container">
    <div class="row">
        <div class="col-md-3">
            <div class="hedar">
            <h1>Jyotish <span style="color: orange;">Connect</span></h1>
            <p>We help you exploring your cosmic path</p>
            <div class="social-icons">
                <img src="../../../assets/footer/Vector.png" alt="" >
                <img src="../../../assets/footer/insta.png" alt="" >
                <img src="../../../assets/footer/icon.png" alt="">
            </div>
        </div>
        </div>
        <div class="col-md-3">
            <div class="quick">
                <h3>Quick Link</h3>
                <a href="#">About Us</a>
                <a href="#">Our Astrologer</a>
                <a href="#">Daily Horoscope</a>
                <a href="#">Quotes of the day</a>
                <a href="#">Testimonials</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="Contact">
                <h3>Contact Us</h3>
                <p>{{ email }}</p>
                <p>(+62) 1234 5678</p>
                <p>Oak Building 19, North City</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="subscribe">
                <h3>Subscribe for any updates</h3>
                <div class="subscribe-container">
                    <input type="email" placeholder="Your Email">
                    <button class="btn">Subscribe</button>
                </div>
            </div>
        </div>

    </div>

</div>