.card-container {
    width: 100%;
    height: 40%;
    padding: 50px;
    background-image: url('../../../assets/footer/footer-bg\ \(5\).png');
}

.row {
    display: flex;
    text-align: center;
    color: aliceblue;
}


.hedar h1 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.hedar p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.quick {
    margin-left: 100px;

}

.quick h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: left;

}

.quick a {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24.38px;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.Contact {
    text-align: left;
}

.Contact h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: left;
}

.Contact p {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24.38px;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribe {
    text-align: left;
    margin-right: 30px;
}

.subscribe h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 5px;
    text-align: left;
}

.subscribe input {
    border-radius: 50px;
    border-color: #E2E2E2;
    background-color: transparent;
}

.subscribe-container {
    display: flex;
    gap: 10px;
}

.subscribe-container .btn {
    border-radius: 50px;
    background: linear-gradient(90deg, #FACC15 0%, #F97316 100%);

}