<nav class="navbar">
    <div class="logo">
        <img src="../../../assets/logo/Group 34.png"  routerLink="/welcome"/>
    </div>
    <div class="menu" [ngClass]="{'active': menuActive}">
        <a routerLink="/About"(click)="showContent('About Us')">About Us</a>
        <a routerLink="/ourastrologers" (click)="showContent('Our Astrologers')">Our Astrologers</a>
        <a routerLink="/daliyhoroscope" (click)="showContent('Daily Horoscope')">Daily Horoscope</a>
        <a  routerLink="/kundli"(click)="showContent('Free Kundli')">Free Kundli</a>
        <a href="#" (click)="showContent('Quotes of the Day')">Quotes of the Day</a>
        <a routerLink="/testimonials"(click)="showContent('Testimonials')">Testimonials</a>
        <button class="login-btn" [routerLink]="['/login']">
            <img src="../../../assets/logo/User.png" alt=""> Login
        </button>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav>
<!-- <div class="breadcrumb" id="breadcrumb">
    {{ breadcrumb }}
</div>

<div class="content" id="content">
    {{ content }}
  </div> -->