/* Navbar styles */
.navbar {
    width: 100%;
    height: auto;
    gap: 0px;
    opacity: 0px;
    background-color: linear-gradient(90.21deg, #F97316 0.36%, #FAAC15 38.72%, #1E3A8A 85.6%);
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 500;
    
    
}



.nav-item{
 text-align: right;
}


.btn {
    margin-left: auto;
    min-width: 80px;
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
    .navbar-nav-custom {
        margin: 0;
        padding: 1rem 0;
    }
    
    .nav-item-custom {
        margin: 0.25rem 0;
    }
    
    .login-btn-custom {
        margin: 1rem 0;
    }
}
