<div class="con">
    <div class="header-container">
        <button class="button">
            <span class="X"></span>
            <span class="Y"></span>
            <div class="close">Close</div>
        </button>
        <h2>Verify <span>One Time Password</span></h2>
        <p>Please enter the verification code sent to <br> <span> +91 - 9876543210</span></p>
        <div class="otp-inputs">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
        </div>
        <div class="timer-resend">
            <div class="timer">00:59s</div>
            <div class="resend">Didn't receive OTP? <span>Resend</span></div>
        </div>
        <button class="verify-btn"> Verify & Login </button>
        <div class="edit-no">
            <img src="../../../assets/images/Vector.png"/>
            Edit Mobile Number</div>

    </div>
</div>