<div class="language-switcher" style="display: flex;">
    <button (click)="changeLanguage('en')">Sort By</button>
    <button (click)="changeLanguage('en')">English</button>
    <button (click)="changeLanguage('es')">Hindi</button>
    <button (click)="changeLanguage('fr')">Bengali</button>
    <button (click)="changeLanguage('en')">Gujarati</button>
    <button (click)="changeLanguage('es')">Kannada</button>
    <button (click)="changeLanguage('fr')">Malayalam</button>
    <button (click)="changeLanguage('fr')">Marathi</button>
    <button (click)="changeLanguage('fr')">Punjabi</button>
    <button (click)="changeLanguage('fr')">Tamil</button>
    <button (click)="changeLanguage('fr')">Filters</button>

    <!-- Add more languages as needed -->
</div>
