.language-switcher {
    margin-top: -50px;
    padding: 30px; 
}

.language-buttons {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.language-buttons button {
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    padding: 10px 15px;
    margin: 0 10px; 
    border: none; 
    border-radius: 100px; 
    background-color: #f8f9fa; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.language-buttons button:hover {
    background: linear-gradient(90deg, rgba(250, 204, 21, 0.1) 0%, rgba(249, 115, 22, 0.1) 100%);
}

.language-button {
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    cursor: pointer; 
    padding: 5px; 
    text-align: center; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #f8f9fa; 
    transition: background-color 0.3s; 
}

.language-button:hover {
    background: linear-gradient(90deg, rgba(250, 204, 21, 0.1) 0%, rgba(249, 115, 22, 0.1) 100%);
}


@media (max-width: 768px) {
    .language-buttons {
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        flex-wrap: wrap; 
    }

    .language-buttons button {
        width: auto; 
        margin: 5px; 
    }

    .language-button {
        margin-bottom: 10px; 
    }
}