<app-header></app-header>
<div class="main-container">
    <div class="header">
        <h1>
            Who We Are, We are passionate about
            <p>guiding you through the mysteries of the cosmos.</p>
        </h1>
    </div>
    <div class="card-container">
        <div class="row">
            <div class="col-md 6">
                <h2>
                    Trusted source for Jyotish Connect insights and astrological guidance
                </h2>
                <p>
                    Welcome to Jyotish Connectl, your trusted source for Jyotish Connect insights and astrological
                    guidance.
                    With a team of seasoned astrologers and a deep passion for the stars, we are dedicated to helping
                    you
                    explore the cosmos and uncover the secrets it holds. Our mission is to provide you with valuable
                    insights
                    that empower you to navigate life's journey with confidence and clarity.
                </p>
                <p>
                    With a combined experience of over 50 years in the field of astrology, our team of expert
                    astrologers brings
                    a wealth of knowledge to your Jyotish Connect journey. We have honed our skills through years of
                    dedicated
                    study and practice, allowing us to provide you with accurate, reliable, and insightful readings.
                </p>
                <p>
                    Our primary achievement is the satisfaction of our clients. We have proudly served thousands of
                    individuals,
                    helping them gain a deeper understanding of themselves and their life's path.
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/logo/image (8).png" />
            </div>
            <div class="main">
                <h6>
                    At Jyotish Connect, we are committed to helping you discover the incredible wisdom that the stars
                    and planets hold. Our commitment includes:
                </h6>
                <div class="card-container">
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Providing accurate and insightful astrological readings</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Adipiscing sodales cras dictum enim sit neque
                                enim enim. Integer semper pretium felis libero magna a ipsum vivamus vitae. Pulvinar
                                dolor nibh tortor ornare nullam risus mi.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h1>Delivering timely and reliable guidance for your daily life</h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Adipiscing sodales cras dictum enim sit neque
                                enim enim. Integer semper pretium felis libero magna a ipsum vivamus vitae. Pulvinar
                                dolor nibh tortor ornare nullam risus mi.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h1>Continuously learning and growing in the field of astrology</h1>
                            <p>Lorem ipsum dolor sit amet consectetur. Adipiscing sodales cras dictum enim sit neque
                                enim enim. Integer semper pretium felis libero magna a ipsum vivamus vitae. Pulvinar
                                dolor nibh tortor ornare nullam risus mi. </p>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../../assets/logo/image (7).png" />
                </div>
                <div class="section">
                    <app-withus />
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer />