<app-header />
<div class="main-container">
    <div class="flex-container">
        <div class="row">
            <div class="col-md-12">
                <div class="card1">
                    <h1>Daily Horoscope from the Stars!</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 ">
                <div class="card1">
                    <p>Horoscopes that we provide on Jyotish Connect are as per Vedic Astrology, which is
                        based on Moon Sign. Get your free horoscope to know what stars have in store for you. Select your Zodiac Sign below to read predictions and much more:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="horoscope-container">
        <div class="card-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon.png" alt="">
                        <h3>Aries Today's Horoscope</h3>
                        <p>Aries crave variety and intellectual stimulation in love and that need is heightened right
                            now and so if your partner is a reflective mood, you may have to phone as friend for some
                            banter.</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon (1).png" alt="">
                        <h3>Taurus Today's Horoscope </h3>
                        <p>Sultry appearance and feeling sexy is all about the kind of company you plant yourself in.
                            Feeling good about yourself is your inner factor, not dependent on any appreciation .But it
                            has its individualistic perception...</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon (3).png" alt="">
                        <h3>Gemini Today's Horoscope</h3>
                        <p>Married signs will feel very romantic and endearing towards their loved one. A healthy,
                            loving
                            relationship is all that a single Gemini sign will think about today. Sadly, that dream
                            won't
                            come true today.</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colum" style="margin-top: -80px;">
        <div class="card-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon.png" alt="">
                        <h3>Aries Today's Horoscope</h3>
                        <p>Aries crave variety and intellectual stimulation in love and that need is heightened right
                            now and so if your partner is a reflective mood, you may have to phone as friend for some
                            banter.</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon (1).png" alt="">
                        <h3>Taurus Today's Horoscope </h3>
                        <p>Sultry appearance and feeling sexy is all about the kind of company you plant yourself in.
                            Feeling good about yourself is your inner factor, not dependent on any appreciation .But it
                            has its individualistic perception...</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon (3).png" alt="">
                        <h3>Gemini Today's Horoscope</h3>
                        <p>Married signs will feel very romantic and endearing towards their loved one. A healthy,
                            loving
                            relationship is all that a single Gemini sign will think about today. Sadly, that dream
                            won't
                            come true today.</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colum" style="margin-top: -80px;">
        <div class="card-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon.png" alt="">
                        <h3>Aries Today's Horoscope</h3>
                        <p>Aries crave variety and intellectual stimulation in love and that need is heightened right
                            now and so if your partner is a reflective mood, you may have to phone as friend for some
                            banter.</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon (1).png" alt="">
                        <h3>Taurus Today's Horoscope </h3>
                        <p>Sultry appearance and feeling sexy is all about the kind of company you plant yourself in.
                            Feeling good about yourself is your inner factor, not dependent on any appreciation .But it
                            has its individualistic perception...</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon (3).png" alt="">
                        <h3>Gemini Today's Horoscope</h3>
                        <p>Married signs will feel very romantic and endearing towards their loved one. A healthy,
                            loving
                            relationship is all that a single Gemini sign will think about today. Sadly, that dream
                            won't
                            come true today.</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colum" style="margin-top: -80px;">
        <div class="card-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon.png" alt="">
                        <h3>Aries Today's Horoscope</h3>
                        <p>Aries crave variety and intellectual stimulation in love and that need is heightened right
                            now and so if your partner is a reflective mood, you may have to phone as friend for some
                            banter.</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon (1).png" alt="">
                        <h3>Taurus Today's Horoscope </h3>
                        <p>Sultry appearance and feeling sexy is all about the kind of company you plant yourself in.
                            Feeling good about yourself is your inner factor, not dependent on any appreciation .But it
                            has its individualistic perception...</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../assets/discover-daily/icon (3).png" alt="">
                        <h3>Gemini Today's Horoscope</h3>
                        <p>Married signs will feel very romantic and endearing towards their loved one. A healthy,
                            loving
                            relationship is all that a single Gemini sign will think about today. Sadly, that dream
                            won't
                            come true today.</p>
                        <div type="button" class="batt">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                <div class="section">
                                    <app-discover/>
                                    <app-blogs />
                                    <app-qday />
                                    <app-withus />
                                    <app-footer />
                                </div>
                                