<app-header />
<div class="main-container">
    <div class="title">
        <h1>Meet our Astrologers.</h1>
        <p>Unlock the secrets of the universe with guidance from our expert astrologers. Discover insights that
            illuminate your path to self-discovery and growth.</p>
            
<!-- The search bar -->
<div class="search-container">
    <input type="text" placeholder="Search here for astrologer...">
    <button>
        <img src="../../../assets/Messages, Conversation/search.png" alt="" >
        <i class="fas fa-search"></i>
    </button>
</div>
    </div>
    <app-language-switcher />
    <app-card />
</div>



<app-happycustomer />
<app-blogs />
<app-qday />
<app-withus />
<app-footer />