<div class="main-container">
    <div class="header">
        <h1>Discover Your Path in the Stars with Us</h1>
        <p> A Kundli reveals the positions of stars and planets at your birth, forming the foundation for astrological
            predictions.</p>
    </div>

    <div class="card-container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/discover/Replace Image Here.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="kun">
                    <div class="kundli">
                        <h3 style="display: flex;">01
                            <span>Free Kundli Online -
                                <p> Get instant & accurate, Janam Kundli</p>
                            </span>
                        </h3>
                    </div>
                    <div class="bttn">
                        <p>Looking for your free Kundli from expert astrologers? Then you have come to the right place.
                            The
                            online free kundali available on Astrotalk is a 100% free and authentic free Kundli that has
                            been
                            prepared after consulting more than 50 expert astrologers on board.</p>

                        <button class="btn">Generate Kundli Online</button>
                    </div>
                </div>
            </div>
        </div>
    </div>