<div class="main-container">
    <div class="hedar">
        <h1>Our Happy Customer's Testimonials</h1>
    </div>
    <div class="card-container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="cardimage" style="display: flex; gap: 10px;">
                        <img src="../../../assets/HC/Ellipse 11.png" alt=""><p>Mamta,UP</p>
                        <span style="margin-left: 70px;"><img src="../../../assets/HC/Group 3465774.png" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>It’s been fantastic for improving my focus and mental agility in both personal and professional
                        settings. Thank your Astroscience</p>
                    <div class="cardimage" style="display: flex; gap: 10px;">
                        <img src="../../../assets/HC/Ellipse 12.png" alt=""><p>Arun Mishra,Jharkhand</p>
                        <span><img src="../../../assets/HC/Group 3465774.png" alt=""></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="cardimage" style="display: flex; gap: 10px;">
                        <img src="../../../assets/HC/Ellipse 13.png" alt=""> <p>Mamta,UP</p>
                        <span style="margin-left: 70px;"><img src="../../../assets/HC/Group 3465774.png" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>