<div class="main-container">
    <div class="hedar">
        <div class="day">
        <h1>Quote of the Day</h1>
        <img src="../../../assets/day/Group 22.png" alt="">
        <div class="content"><img src="../../../assets/day/Group 23.png" alt="">
            <p>If you can dream it, then you can achieve it. You will get all you want
                in life if you help enough other people get what they want.</p>
            <img src="../../../assets/day/Group 24.png" alt="">
        </div>

        <span>Zig Ziglar</span>
        </div>
    </div>
</div>