<div class="main-container">
    <div class="header">

        <h1>We are dedicated to guiding you in uncovering the
         <p>profound wisdom held by the stars and planets.</p>   </h1>


    </div>

    <div class="card-container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-5">
                <div class="kun">
                    <div class="guid">
                        <h3>Providing accurate and insightful</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Adipiscing sodales cras dictum
                            enim sit neque enim enim. Integer semper pretium felis libero magna a
                            ipsum vivamus vitae. Pulvinar dolor nibh tortor ornare nullam risus mi. </p>
                    </div>
                    <div class="bttn">
                        <h3>Delivering timely and reliable guidance</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Adipiscing sodales cras dictum
                            enim sit neque enim enim. Integer semper pretium felis libero magna a
                            ipsum vivamus vitae. Pulvinar dolor nibh tortor ornare nullam risus mi. </p>

                        <button class="btn">Read More...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main">
                    <img src="../../../assets/day/Replace Image Here (4).png" alt="">
                </div>

            </div>
        </div>
    </div>