.main-container {
    width: 100%;
    height: aoto;
    padding: 50px;
}

.header h1 {
    font-family:'Inter', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 50.51px;
    text-align: center;
    color: rgba(30, 58, 138, 1);
}

.kun h3 {
    font-family:'Inter', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(30, 58, 138, 1);
    margin-top: 10px;

}

.kun p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.bttn .btn {
    background-color: orange;
    color: black;
    border: 2px solid orange;
    width: 30%;
    height: 10%;
    padding: 10px 20px;
    border-radius: 1000px;
    border: 1px;
    opacity: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin-top: 20px;
}

.main img {
    width: 100%;
    height: 100%;
    margin-left: 80px;
}


/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .header h1 {
        font-size: 30px; /* Adjust heading size for medium screens */
    }

    .kun h3 {
        font-size: 20px; /* Adjust heading size for medium screens */
    }

    .kun p {
        font-size: 14px; /* Adjust paragraph size for medium screens */
    }

    .bttn .btn {
        width: 40%; /* Adjust button width for medium screens */
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 24px; /* Adjust heading size for small screens */
    }

    .kun h3 {
        font-size: 18px; /* Adjust heading size for small screens */
    }

    .kun p {
        font-size: 12px; /* Adjust paragraph size for small screens */
    }

    .bttn .btn {
        align-items: center;
        margin-bottom: 10px;
        width: 30%; /* Adjust button width for small screens */
        margin-left: 0; /* Remove left margin */
    }

    .main img {
        margin-left: 0; /* Remove left margin for small screens */
    }
}

@media (max-width: 480px) {
    .header h1 {
        margin-bottom: -40px;
        text-align: center;
        line-height: 1.5;
        font-size: 20px; /* Further adjust heading size for very small screens */
    }

    .kun h3 {
        line-height: 1.5;
        font-size: 12px; /* Further adjust heading size for very small screens */
    }

    .kun p {
        line-height: 1;
        font-size: 9px; /* Further adjust paragraph size for very small screens */
    }

    .bttn .btn {
        margin-bottom: 10px;
        width: 100%; /* Full width for buttons on very small screens */
    }

    .main img {
        margin-left: 0; /* Remove left margin for very small screens */
    }
}