<div class="main-container">
    <div class="titel">
        <h1>Explore the Stars with Our Astrologers.</h1>
        <div class="card-container">
            <div class="row">
            <div class="button" style="display: flex;">
                <div class="col-md-9">
                <p>Unlock the secrets of the universe with guidance from our expert astrologers. Discover insights that 
                    illuminate your path to self-discovery and growth.</p>
            </div>
            <div class="col-md-6">
                <button class="btn"> View All</button>
            </div>
        </div>
            </div>
        </div>
            <div class="card-container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../../../assets/images/image.png" alt="">
                            <h3>Saahil Kohli</h3>
                            <p>Vastu Astrologer</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../../../assets/images/image (1).png" alt="">
                            <h3>Vijaylakshmi Krishna </h3>
                            <p>Vastu Astrologer</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../../../assets/images/image (2).png" alt="">
                            <h3>Dr. Hemant Barua </h3>
                            <p>Vastu Astrologer</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../../../assets/images/image (3).png" alt="">
                            <h3>Sanjay B. Jumaani</h3>
                            <p>Vastu Astrologer</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>