<app-header />
<div class="main-container">
    <div class="flex-container">
        <div class="row">
            <div class="col-md-12">
                <div class="card1">
                    <h1>Real Stories, Real Transformations</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 ">
                <div class="card1">
                    <p>"Our Happy Customers' Testimonials" is a shining testament to the trust and satisfaction of our
                        valued
                        clients. Each heartfelt review reflects the profound impact our astrological insights and
                        guidance have
                        had on their lives,</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 11.png" alt="User  Image" class="user-image">
                        <p class="user-name">Mamta, UP</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>It’s been fantastic for improving my focus and mental agility in both personal and
                        professional
                        settings. Thank your Astroscience</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 12.png" alt="User  Image" class="user-image">
                        <p class="user-name">Arun Mishra,Jharkhand</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 11.png" alt="User  Image" class="user-image">
                        <p class="user-name">Mamta, UP</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 11.png" alt="User  Image" class="user-image">
                        <p class="user-name">Mamta, UP</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>It’s been fantastic for improving my focus and mental agility in both personal and
                        professional
                        settings. Thank your Astroscience</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 12.png" alt="User  Image" class="user-image">
                        <p class="user-name">Arun Mishra,Jharkhand</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 11.png" alt="User  Image" class="user-image">
                        <p class="user-name">Mamta, UP</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 11.png" alt="User  Image" class="user-image">
                        <p class="user-name">Mamta, UP</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>It’s been fantastic for improving my focus and mental agility in both personal and
                        professional
                        settings. Thank your Astroscience</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 12.png" alt="User  Image" class="user-image">
                        <p class="user-name">Arun Mishra,Jharkhand</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 11.png" alt="User  Image" class="user-image">
                        <p class="user-name">Mamta, UP</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 11.png" alt="User  Image" class="user-image">
                        <p class="user-name">Mamta, UP</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>It’s been fantastic for improving my focus and mental agility in both personal and
                        professional
                        settings. Thank your Astroscience</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 12.png" alt="User  Image" class="user-image">
                        <p class="user-name">Arun Mishra,Jharkhand</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/HC/Group 26.png" alt="">
                    <p>Kuch mahine pehle Sarv Shaktipeeth Yantra lagaya tha apne office mein aur sach mein, results
                        kaafi achhe aaye hain. Jai Gurudev</p>
                    <div class="card-image">
                        <img src="../../../assets/HC/Ellipse 11.png" alt="User  Image" class="user-image">
                        <p class="user-name">Mamta, UP</p>
                        <span class="user-icon">
                            <img src="../../../assets/HC/Group 3465774.png" alt="Icon">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="bttn">Load More...</button>
</div>

<div>
    <app-qday />
    <app-blogs style="text-align: left;" />
    <app-footer />
</div>