.main-container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 100px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex-container h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 58.51px;
    text-align: center;
    color: rgba(30, 58, 138, 1);
}

.flex-container p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgb(88, 87, 87);
}

.section .card-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section .card {
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    opacity: 0px;
    box-shadow: 0px 2px 8px 0px #0000000D;
    margin: 10px;
}

.section .card img {
    width: 56.27px;
    height: 37.13px;
    top: 3772px;
    left: 1296px;
    padding: 0px;
    gap: 0px;
    opacity: 0.3px;
    margin-top: 20px;
}

.section .card p {

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 200;
    line-height: 20px;
    color: gray;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 50px;
}


.section .cardimage img {
    width: 48px;
    height: 48px;
    top: 4018px;
    left: 1304px;
    gap: 0px;
    opacity: 0px;
}

.section .cardimage p {
    margin-top: 30px;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #1E3A8A;

}

.section .cardimage span img {
    width: 80px;
    height: 12px;
    gap: 0px;
    margin-top: 30px;
    margin-left: 40px;
}


.pages {
    padding: 0px;
    margin: 0px;
}

@media (max-width: 1024px) {
    .flex-container h1 {
        font-size: 30px;
        /* Adjust heading size for medium screens */
    }

    .section .card {
        max-width: 90%;
        /* Allow cards to take more width on smaller screens */
    }
}

@media (max-width: 768px) {
    .flex-container h1 {
        font-size: 24px;
        /* Further adjust heading size for small screens */
    }

    .section .card {
        max-width: 100%;
        /* Full width for cards on small screens */
    }

}

@media (max-width: 480px) {
    .flex-container h1 {
        text-align: center;
        font-size: 18px;
        /* Further adjust heading size for very small screens */
    }

    .section .cardimage span img {
        width: 50px;
        /* Further adjust image size for very small screens */
    }
}