/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Debug Styles - Commented out by default */
 /* * {
  background: rgb(0 100 0 / 0.1) !important;
  outline: 1px solid limegreen !important;
}   */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  height: auto;
  padding: 10px 20px;
  border-radius: 1000px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  background: linear-gradient(90deg, #FACC15 0%, #F97316 100%);
}