/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Debug Styles - Commented out by default */
/* * {
  background: rgb(0 100 0 / 0.1) !important;
  outline: 1px solid limegreen !important;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
